// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

// Center the content and define the background color seen when the window is wider than the content.

body {
  display: grid;
  justify-content: center;
  background-color: black;
}

// Here is the actual structure of the page.  Set up with grid to match the template.

.content-wrapper {
  background-color: white;
  // I decided to round all my corners on everything. I think it looks nice.
  border-radius: 1rem;
  padding: 1rem;
  max-width: 1440px;
  // min-height only matters here when there aren't enough page previews for "main" to hit the bottom of the viewport.  Ensures we'll be using all available vertical space.
  min-height: 100vh;
  display: grid;
  // header, nav, and footer will be as big as their content demands.  Main and sidebar will take up whatever space is left.
  grid-template-rows: auto auto 1fr auto;
  // gap provides the separation space between each section without ugly margin attributes everywhere.
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header header"
                        "nav nav"
                        "sidebar main"
                        "footer footer";
}

#header {
  grid-area: header;
  text-align: center;
  background-image: url("../Images/earthquake-banner.jpg");
  background-size: cover;
  border-radius: 1rem;
  h1 {
    color: white;
    font-size: 5rem;
    padding: 2rem;
    background-color: black;
    border-radius: 1rem;
    // inline-block to keep the black background from being as wide as the header
    display: inline-block;
  }
}

#nav {
  grid-area: nav;
  border: .25rem solid grey;
  border-radius: 1rem;
  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // 1rem of padding is coming from somewhere.  Couldn't find it, so I neutralized it.
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    li {
      background-color: white;
      width: 11%;
      // I want the entire tile to be click-able, not just the text or just the icon.
      a {
        color: black;
        font-size: 1.2rem;
        font-weight: bolder;
        text-decoration: none;
        .nav-tile {
          border-radius: 1rem;
          padding: .5rem;
          // Flex properties to align the icon and text in each nav tile.
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // Transition timing for the color inversion on hover.
          transition: .5s ease;
          h3 {
            margin: 0;
          }
          img {
            width: 50%;
            margin-bottom: .5rem;
          }
          // This is the color inversion effect on hover over the nav tiles.  The text is separately defined, but results in the same effect.
          &:hover {
            img {
              filter: invert(100%);
            }
            h3 {
              color: white;
            }
            background-color: black;
          }
        }
      }
    }
  }
}

#sidebar {
  grid-area: sidebar;
  // height 100% to make sure it is the same height as main, even if it's lacking the content to fill that height.
  height: 100%;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 1rem;
  img {
    width: 100%;
    border-radius: 1rem;
  }
}

#main {
  grid-area: main;
  background-color: #Fce1c7;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  // I want the entire preview tile to be clickable, so the div layout is wrapped in an anchor tag.
  a {
    text-decoration: none;
    color: black;
  }
  .page-preview {
    display: grid;
    // 13:8 is golden ratio for maximum beauty
    grid-template-columns: 8fr 13fr;
    border: 1px solid #A9a9a9;
    border-radius: 1rem;
    background-color: white;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    // Timing for the background color transform.
    transition: 1s ease;
    &:hover {
      background-color: #e3cbb3;
    }
    img {
      width: 100%;
      border-radius: 1rem;
      }
    .page-preview__desc {
      margin-left: 1rem;
      h3 {
        text-decoration: none;
        margin: 0;
      }
      .img-attr {
        font-size: .6rem;
      }
    }
  }
}

#footer {
  grid-area: footer;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  p {
    font-size: .8rem;
  }
  a {
    color: white;
  }
}

#footer__nav {
  width: 50%;
  margin-bottom: 1rem;
  ul {
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    height: 100%;
    li {
      text-decoration: underline;
    }
  }
}
