// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

body {
  display: grid;
  justify-content: center;
}

.content-wrapper {
  max-width: 1440px;
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header header"
                        "nav nav"
                        "sidebar main"
                        "footer footer";
}

#header {
  grid-area: header;
  text-align: center;
  font-size: 2rem;
  background-image: url("../images/earthquake-banner.jpg");
  background-size: cover;
  padding: 2rem;
  h1 {
    color: white;
    padding: 1rem;
    background-color: black;
    display: inline-block;
  }
}

#nav {
  grid-area: nav;
  display: grid;
  justify-items: center;
  ul {
    width: 90%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 100%;
    li {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: .4rem;
      img {
        width: 50px;
        margin-bottom: .4rem;
      }
      a {
        color: black;
        font-size: 1.2rem;
        font-weight: bolder;
        text-decoration: none;
      }
    }
  }
}

#sidebar {
  grid-area: sidebar;
  padding: 1rem;
  img {
    width: 80%
  }
}

#main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 5fr;
  .page-preview {
    border: 1px solid grey;
    margin: 1rem 0 1rem 0;
  }
}

#footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  nav {
    width: 50%;
    ul {
      width: 100;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      height: 100%;
    }
  }
}
